<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mumu.store" android:sharedUserId="android.uid.system"
    android:versionCode="1226" android:versionName="minimal-prototype-0.1">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="28" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:label="MuMu Minimal Installer Prototype"
        android:allowBackup="false" android:hasCode="true">
        <service android:name="com.mumu.store.install.InstallLocalApkService"
            android:exported="true" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.mumu.store.install.aidl.LocalInstallInterface" />
            </intent-filter>
        </service>
    </application>
</manifest>
